*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Pipenv and lock files
Pipfile
Pipfile.lock
venv/*
venv*/*

# Pycharm stuff
.idea/*

# VSCode
.vscode/*

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
# python core dump
python*.core
